.main-nav{
  background: #826550;
  .main-nav__list{
    padding: 0;
    margin: 0;
    list-style: none;
    .site-list__item{
      a{
        font-family: PTSansNarrow;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }
}