.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-form {
  width: 320px;
  margin: 0 auto;
  background: #f8f5f2;
}
.page-form .page-form__title {
  font-family: PTSansNarrow;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .page-form {
    width: 640px;
  }
}
@media (min-width: 1200px) {
  .page-form {
    width: 960px;
  }
}
