.reviews {
  background: #f8f5f2;
}
.reviews .reviews__title {
  font-family: PTSansNarrow;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.reviews .reviews__list .reviews__item .reviews__author-name {
  font-family: PTSansNarrow;
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;
  color: #000000;
}
.reviews .reviews__list .reviews__item .reviews__text {
  font-family: PTSans-Narrow;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #000000;
}
