.stats {
  background: #242424;
}
.stats .stats__header {
  background: #ffffff;
}
.stats .stats__header .stats__slogan {
  font-family: PTSansNarrow;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.stats .stats__header .stats__intro {
  font-family: PTSans-Narrow;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  color: #000000;
}
.stats .stats__list {
  border-collapse: collapse;
}
.stats .stats__list tr {
  background: #353535;
}
.stats .stats__list tr:nth-child(2n) {
  background: #4E4E4E;
}
.stats .stats__list tr .stats__value {
  font-family: PTSansNarrow;
  font-size: 40px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
.stats .stats__list tr .stats__field {
  font-family: PTSans-Narrow;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #f7f4f1;
  text-align: right;
}
.stats .stats__legend {
  font-family: PTSans-Narrow;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.3;
}
