.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.contacts .contacts__title {
  font-family: PTSansNarrow;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: #ffffff;
}
.contacts .contacts__text {
  font-family: PTSans-Narrow;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #ffffff;
}
.contacts .contacts__text .contacts__phone {
  font-family: PTSansNarrow;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}
@media (min-width: 768px) {
  .contacts {
    width: 330px;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
}
