.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.social .social__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .social {
    width: 100%;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
}
@media (min-width: 1200px) {
  .social {
    width: 330px;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
}
