@import "source/less/mixins";
@import "source/less/variables";
.copyright{
  .copyright__text{
    font-family: PTSans-Narrow;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #ffffff;
  }
  .copyright__link{
    font-family: PTSansNarrow;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
  }
}
@media (min-width: @tablet-width) {
  .copyright{
    width: 160px;
    order: 2;
  }
}
@media (min-width: @desktop-width) {
  .copyright{
    order: 3;
  }
  .copyright {

  }
}

