@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("source/fonts/ptsansnarrow-regular-webfont.woff2") format("woff2"), url("source/fonts/ptsansnarrow-regular-webfont.woff") format("woff"), url("source/fonts/ptsansnarrow-regular-webfont.svg") format("svg");
}
@font-face {
  font-weight: bold;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("source/fonts/ptsansnarrow-bold-webfont.woff2") format("woff2"), url("source/fonts/ptsansnarrow-bold-webfont.woff") format("woff"), url("source/fonts/ptsansnarrow-bold-webfont.svg") format("svg");
}
.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.page-header__logo {
  height: 85px;
  text-align: center;
}
.page-header__logo img {
  width: 226px;
  height: 85px;
}
@media (min-width: 768px) {
  .page-header {
    background-color: #000000;
  }
  .page-header__logo {
    -webkit-box-ordinal-group: 3;
            order: 2;
    width: 100%;
    height: 400px;
    background-color: #000000;
    background-image: url("/img/bg-header.jpeg");
    background-repeat: no-repeat;
    background-position: center -9px;
  }
  .page-header__logo img {
    display: block;
    width: 370px;
    height: auto;
    margin: 40px auto 0;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
    background-position: center 0;
    background-size: cover;
  }
  .page-header__logo img {
    margin-top: 57px;
  }
}
.main-nav {
  position: relative;
  width: 320px;
  min-height: 51px;
  margin: 0 auto;
  background: #826550;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover,
.main-nav__toggle:active {
  background-color: #624530;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-nav--opened .main-nav__toggle:before,
.main-nav--opened .main-nav__toggle:after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
  }
  .main-nav__wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 648px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px;
  }
}
.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
}
.site-list a {
  display: block;
  padding: 12px 21px 13px;
  font-family: PT Sans Narrow, serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}
.site-list a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46;
}
.site-list a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
  border-top-color: #6a4d38;
}
@media (min-width: 768px) {
  .site-list {
    width: 570px;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 780px;
  }
}
.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.user-list__login {
  position: relative;
  display: block;
  padding: 17px 21px 17px 49px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
}
.user-list__login-icon polygon {
  fill: #ffffff;
}
@media (min-width: 768px) {
  .user-list {
    width: 60px;
  }
}
@media (min-width: 1200px) {
  .user-list {
    width: 160px;
  }
}
.stats {
  width: 320px;
  margin: 0 auto;
  background: #242424;
}
.stats__header {
  padding: 30px 40px 25px;
  background: #ffffff;
}
.stats__header .stats__slogan {
  font-family: PTSansNarrow;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.stats__header .stats__intro {
  font-family: PTSans-Narrow;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  color: #000000;
}
.stats__list {
  width: 100%;
  border-collapse: collapse;
}
.stats__list tr {
  background: #353535;
}
.stats__list tr:nth-child(2n) {
  background: #4E4E4E;
}
.stats__list tr .stats__value {
  font-family: PTSansNarrow;
  font-size: 40px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}
.stats__list tr .stats__field {
  font-family: PTSans-Narrow;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #f7f4f1;
  text-align: right;
}
.stats__legend {
  font-family: PTSans-Narrow;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .stats {
    width: 640px;
    margin-top: -185px;
  }
  .stats__list {
    display: -webkit-box;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .stats {
    display: -webkit-box;
    display: flex;
    width: 960px;
    margin-top: -160px;
  }
  .stats__list {
    width: 640px;
  }
  .stats__header {
    width: 240px;
  }
}
.advantages {
  width: 320px;
  margin: 0 auto;
  background: #242424;
}
.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.advantages__title {
  font-family: PTSansNarrow;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  color: #f7f4f1;
}
.advantages__description {
  font-family: PTSans-Narrow;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  color: #f7f4f1;
}
@media (min-width: 768px) {
  .advantages {
    width: 640px;
  }
}
@media (min-width: 1200px) {
  .advantages {
    width: 960px;
  }
  .advantages__list {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
  .advantages__item {
    padding-right: 45px;
    padding-left: 45px;
    text-align: center;
  }
}
.news {
  width: 320px;
  margin: 0 auto;
  background: #f8f5f2;
}
.news__title {
  font-family: PTSansNarrow;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.news__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.news__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.news__item:nth-child(3) {
  display: none;
}
.news__date-wrapper {
  width: 50px;
  height: 50px;
  background: #000000;
}
.news__day {
  font-family: PTSansNarrow;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}
.news__month {
  font-family: PTSans-Narrow;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
}
.news__text {
  padding: 0;
  margin: 0;
  width: 210px;
  font-family: PTSans-Narrow;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #000000;
}
.news__button {
  font-family: PTSansNarrow;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
@media (min-width: 768px) {
  .news {
    width: 640px;
  }
  .news__list {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .news {
    width: 960px;
  }
  .news__item:nth-child(3) {
    display: block;
  }
}
.reviews {
  width: 320px;
  margin: 0 auto;
  background: #f8f5f2;
}
.reviews__title {
  font-family: PTSansNarrow;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.reviews__item:nth-child(2) {
  display: none;
}
.reviews__item:nth-child(3) {
  display: none;
}
.reviews__author-name {
  font-family: PTSansNarrow;
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;
  color: #000000;
}
.reviews__text {
  font-family: PTSans-Narrow;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #000000;
}
@media (min-width: 768px) {
  .reviews {
    width: 640px;
  }
}
@media (min-width: 1200px) {
  .reviews {
    width: 960px;
  }
}
.page-form {
  width: 320px;
  margin: 0 auto;
  background: #f8f5f2;
}
.page-form .page-form__title {
  font-family: PTSansNarrow;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .page-form {
    width: 640px;
  }
}
@media (min-width: 1200px) {
  .page-form {
    width: 960px;
  }
}
.page-photo {
  width: 320px;
  margin: 0 auto;
  background: #f8f5f2;
}
@media (min-width: 768px) {
  .page-photo {
    width: 6400px;
  }
}
@media (min-width: 1200px) {
  .page-photo {
    width: 960px;
  }
}
.page-photo__our-works {
  width: 320px;
  margin: 0 auto;
}
.page-photo__our-works .page-photo__title {
  font-family: PTSansNarrow;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.page-photo__our-works .our-works__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.page-photo__our-works .our-works__list .our-works__item .photo-title {
  font-family: PTSansNarrow;
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;
  color: #000000;
}
.page-photo__our-works .our-works__list .our-works__item .photo-text {
  font-family: PTSans-Narrow;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #000000;
}
.page-photo__our-works .our-works__list .our-works__item .our-works__list-of-works {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .page-photo__our-works {
    width: 6400px;
  }
}
@media (min-width: 1200px) {
  .page-photo__our-works {
    width: 960px;
  }
}
.page-photo__price {
  background: #353535;
}
.page-photo__price .price-list {
  border-collapse: collapse;
}
.page-photo__price .price-list .description-of-services {
  font-family: PTSansNarrow, PTSans-Narrow;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  color: #ffffff;
}
.page-photo__price .price-list .description-of-services span {
  font-weight: 400;
}
.page-photo__price .price-list .cost {
  font-family: PTSans-Narrow;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  color: #ffffff;
}
.page-photo__price .price__happy-hours .happy-hours__text {
  font-family: PTSans-Narrow;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  color: #ffffff;
}
.page-footer {
  width: 320px;
  margin: 0 auto;
  background: #292929;
}
@media (min-width: 768px) {
  .page-footer {
    width: 640px;
  }
  .page-footer__wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    width: 960px;
  }
}
.contacts .contacts__title {
  font-family: PTSansNarrow;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: #ffffff;
}
.contacts .contacts__text {
  font-family: PTSans-Narrow;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #ffffff;
}
.contacts .contacts__text .contacts__phone {
  font-family: PTSansNarrow;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}
@media (min-width: 768px) {
  .contacts {
    width: 330px;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
}
.social .social__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .social {
    width: 100%;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
}
@media (min-width: 1200px) {
  .social {
    width: 330px;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
}
.copyright .copyright__text {
  font-family: PTSans-Narrow;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #ffffff;
}
.copyright .copyright__link {
  font-family: PTSansNarrow;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}
@media (min-width: 768px) {
  .copyright {
    width: 160px;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
}
@media (1200px) {
  .copyright {
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
}
