.news{
  background: #f8f5f2;
  .news__title{
    font-family: PTSansNarrow;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
  }
  .news__list{
    padding: 0;
    margin: 0;
    list-style: none;
    .news__item{
      .news__date-wrapper {
        background: #000000;
        .news__day {
          font-family: PTSansNarrow;
          font-size: 30px;
          line-height: 30px;
          font-weight: 700;
          color: #ffffff;
        }
        .news__month {
          font-family: PTSans-Narrow;
          font-size: 16px;
          line-height: 30px;
          font-weight: 400;
          color: #ffffff;
        }
      }
      .news__text{
        font-family: PTSans-Narrow;
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        color: #000000;
      }
    }
  }
  .news__button{
    font-family: PTSansNarrow;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
  }
}